.input-container {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.input-title {
    margin-left: 2px;
    margin-bottom: 14px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-gray-2);
    font-family: "inter";
}
.input-field{
    padding: 15px;
    border-radius: 8px;
    background-color: #f8f8f8;
    border: none;
    outline: none;
    color: var(--dark-gray-3);
    font-family: "inter";
}

.input-field {

    &:focus{
        outline: 2px solid var(--primary);

    }
}