.p {
  display: flex;
  text-align: center;
  justify-content: center;
}

.p-small {
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0.0469rem;
}

.p-medium {
  font-family: "inter";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.375rem;
  letter-spacing: 0.0469rem;
}

.porcent {
  background-color: #e7ff86;
  width: 96px;
  height: 32px;
  border-radius: 29px;
  top: 1719px;
  left: 120px;
  padding: 5px 15px 5px 15px;
  gap: 0.625rem;
  color: var(--dark-gray-2);
}

.p-medium-through {
  font-family: "inter";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.375rem;
  letter-spacing: 0.0469rem;
}

.through {
  color: var(--light-gray);
  text-decoration: line-through;
  width: 69px;
  height: 38px;
  top: 2100px;
  left: 100px;
  border: 1px;
}

.dont-through {
  color: var(--dark-gray);
  width: 63px;
  height: 38px;
  top: 2100px;
  left: 177px;
}
