@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.asideClass {
    padding: 20px;
    border: 1px solid #ccc;
    width: 308px;
    height: 720px;
}

.divAside {
   margin: 5px 5px;
}


input[type="checkbox"],
input[type="radio"] {
  accent-color: #C92071; 
  width: 22px; 
  height: 22px; 
  border: 2px solid #C92071; 
  border-radius: 1px; 
  outline: none; 
  cursor: pointer; 
  margin: auto 10px;
  
}

.titleAside {
    font-family: "inter";
    font-weight: 700;
    font-size: 16px;
    color: var(--dark-gray-2);
}

.labelCheked {
   font-family: "inter";
   font-size: 14px;
   letter-spacing: 0.25px;
   gap: .625rem;
   line-height: 34px;
   color: var(--dark-gray-2);
   font-weight: 500;
   margin: auto;
}

.titleChecked{
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-gray-2);
    font-family: "inter";
   }