.container-my-oders {
  display: flex;
  width: 100%;
}

.title-my-orders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-title-my-orders {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.text-status-order {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.list-my-oders {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.item-my-orders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.detail-order {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
}

.detail-order img {
  height: 4.449rem;
}

.text-n-order {
  color: var(--light-gray);
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.375rem;
}

.text-order {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.status-order-in-progress {
  color: var(--warning);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.75px;
}
.status-order-finished {
  color: var(--light-gray);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.75px;
}
.status-order-canceled {
  color: var(--error);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.75px;
}

.line-my-orders {
  border: none;
  height: 1px;
  background-color: var(--light-gray-2);
  width: 100%;
  margin: 0.5rem 0;
}
