.navegator {
    display: flex;
    gap: 30px;
    color: var(--dark-gray-2);    
}


a {
    position: relative;
}

a:hover {
    color: var(--primary);
    transition: 0.8s;
    font-weight: 700;
}

.li::after {
    content: "";
    position: absolute;
    color: var(--primary);
    background-color: var(--primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    border-radius: 10px;
}

.li:hover::after{
    width: 100%;
    color: var(--primary);
}