/* Containers */
.container-my-infos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
}

.title-my-infos {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.line-my-infos {
  border: none;
  height: 1px;
  background-color: var(--light-gray-2);
  width: 100%;
}

/* Textos */

.title-my-infos h3 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.title-my-infos a {
  color: var(--primary);
  text-decoration: underline;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.subtitles-my-infos {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.label-my-infos {
  color: var(--light-gray);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.text-my-infos {
  color: var(--darkgray);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
